@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body{

    margin: 0;
    padding: 0;
    font-family: 'mooli',Arial, Helvetica, sans-serif;
    
}

ul {
list-style-type: none;
margin: 0;
padding: 0;

}
.imagen_y_nombre , nav a{

    color: white;
}
header{

    background-image: url(../images/obras/theatre-551797_1920.jpg);
    background-position: center;
}

header img{
    width: 5rem;
}
.imagen_y_nombre{

    display: flex;
    align-items: center;
    
}
header h1{

    margin-left: 1rem;
}
header a{
    text-decoration: none;
}

header nav ul li a{

    border-radius: 10px;
    background-color: rgba(8, 8, 8, 0.548);
}

section{

    display: grid;
    width: auto;  
    background-color: #140505;   
}    

footer{
    background-color: blanchedalmond;
}


.obras > div { 
    color: white;
    width: 100%;
    height: auto;
    
}

.obras img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgb(182, 134, 118);
}

.buscador{

    background-color: rgba(36, 7, 7, 0.514);
    color: white;
    border-color:rgb(128, 65, 65);
    border-style: dashed;
    
}
.barra_de_buscador{

    display: flex;
    align-items: center;
    justify-content: space-;
    

}
section div nav ul li label img{
    width:1rem;
}


@media only screen and (max-width: 380px ) {

header{

    
    padding: 5px;
}
.imagen_y_nombre img{

margin-bottom: 5px;

}
header nav ul{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header h1{
    font-size: 2rem;
}

.obras{
    display: grid;
    margin: 4rem;
    gap: 5rem;
    grid-template-columns: auto ;
    
    }


} /*cierre del media */
@media only screen and (min-width: 380px ) {
header{

    background-color: #220c1371;
    padding: 5px;
}
header nav ul {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    
}
.imagen_y_nombre img{

    margin-bottom: 5px;
    
    }

.obras{
     display: grid;
     margin: 4rem;
     gap: 5rem;
    grid-template-columns: auto auto ;
        
 }
} /*cierre del media */

@media only screen and (min-width: 730px ) {

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li a{
    margin: 1rem;
}
header nav ul li a{

    border-radius: 10px;
    padding: 2px;
}

.obras{
    display: grid;
    margin: 4rem;
    gap: 5rem;
    grid-template-columns: auto auto auto auto  ;
    
}
} /*cierre del media */

